/* إعداد الصورة الأساسية */
.carousel-item img {
  height: 550px;
  object-fit: cover;
  border-radius: 10px;
}

/* تنسيق البوكس اللي فيه المعلومات */
.caption-box {
  margin-bottom: -80px;
  margin-left: -120px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 15px;
}

/* الكارد الصغيرة */
.movie-card {
  width: 12rem;
  background-color: transparent;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  box-shadow: none;
}

.movie-card img {
  width: 170px;
  height: auto;
  border-radius: 15px;
}

/* الأيقونة أعلى الكارد */
.add-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  border-top-left-radius: 15px;
}

.add-icon i {
  color: white;
  font-size: 24px;
}

/* أيقونة التشغيل الكبيرة */
.play-icon {
  font-size: 50px;
  margin-left: 15px;
  color: white;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.play-icon:hover {
  transform: scale(1.1);
  color: #f5b921;
}

/* النصوص */
.movie-info h5 {
  font-weight: 600;
  color: white;
}

.movie-info p {
  color: #ddd;
}

.movie-info img {
  width: 40px;
  height: auto;
}

.reactions i {
  color: #fff;
  margin-right: 10px;
}

/* المؤشرات */
.carousel-indicators {
  margin-bottom: -1.5rem;
}

.carousel-indicators [data-bs-target] {
  background-color: #fff;
}

/* أزرار التحكم */
.carousel-control-prev,
.carousel-control-next {
  background: transparent;
  border: none;
  box-shadow: none;
}
