<div class="row">
  <div class="col-md-8">
    <div id="moviesCarousel" class="carousel slide carousel-dark " data-bs-ride="carousel">
      <div class="carousel-inner">
        
        @for (movie of movies; track movie.id; let i = $index){
          <div class="carousel-item" [class.active]="i === 0"
          data-bs-interval="4000">
          
          <a [routerLink]="['/details', movie.id]" class="text-decoration-none">
            <img [src]="getBackdropUrl(movie.backdrop_path)" class="d-block w-100 main-image" [alt]="movie.title">

            <div class="carousel-caption d-block text-start main-caption">
              <div class="d-flex align-items-center">

              <div class="d-flex align-items-end">
                <div class="movie-card position-relative me-3">
                  <img [src]="getPosterUrl(movie.poster_path)" [alt]="movie.title">
                  <div class="add-icon">
                    <i class="bi bi-plus"></i>
                  </div>
                </div>
                <div class="d-flex align-items-center text-light main-caption-content">
                  <span class="me-3"><i class="bi bi-play-circle big-icon icon"></i></span>
                      <div>
                          <h5 class=" text-white mb-1">{{ movie.title }}</h5>

                          @if (movie.overview) {
                            <p class="mb-2 text-light">{{ movie.overview | slice:0:40 }}...</p>
                          } @else {
                            <p class="mb-2 text-light">Watch the Final Trailer</p>
                          }

                          <div class="d-flex align-items-center gap-4 text-light">
                              <span><i class="bi bi-hand-thumbs-up me-1"></i> {{ movie.vote_count }}</span>
                              <span><i class="bi bi-heart me-1"></i> {{ movie.popularity  | number:'1.0-0' }}</span>
                          </div>
                      </div>
                      <div class="movie-time ms-5 text-light">
                        <span>{{ movie.videos?.results?.[0]?.duration || '3:06' }}</span>
                      </div>
                </div>
              </div>
              </div>
            </div>
          </a>

          </div>
        }

      </div>



      
      <button class="carousel-control-prev" type="button" data-bs-target="#moviesCarousel" data-bs-slide="prev">
        <i class="bi bi-chevron-right carousel-arrow"></i>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#moviesCarousel" data-bs-slide="next">
        <i class="bi bi-chevron-right carousel-arrow"></i>
      </button>
    </div>
  </div>

  <div class="col-md-4 d-none d-lg-block">
    <h6 class="fw-bold text-warning up-next">Up next</h6>
    <div class="up-next-list">

      @for (movie of visibleMovies; track movie.id) {
          <div  class="d-flex mb-3 up-next-card">
        <img [src]="getPosterUrl(movie.poster_path)" [alt]="movie.title" class="me-3">
        <div>
          <div class="d-flex mb-1 main-icon">
            <span><i class="bi bi-play-circle fs-2"></i> 
              <span class="ms-2">{{ movie.videos?.results?.[0]?.duration || '3:00' }}</span>
          </span>
          </div>

          <h6 class="mb-1">{{ movie.title }}</h6>
          <p class="small mb-1 text-muted">{{ movie.overview | slice:0:50 }}...</p>
          <div class="d-flex gap-3 small text-muted  custom-icons">
            <span><i class="bi bi-hand-thumbs-up"></i>{{ movie.vote_average | number:'1.1-1' }}</span>
            <span><i class="bi bi-heart"></i>{{ movie.popularity | number:'1.0-0' }}</span>
          </div>
        </div>
      </div>
    }
    </div>

    <a (click)="selectGenre('Thriller')" class="browse-link">Browse trailers &gt;</a>
  </div>
</div>
