@if (isLoading()) {
  <app-loading-spinner />
} @else {
  <div class="trailer-page text-center text-white">
    <div class="back-button mb-3">
      <a [routerLink]="['/details', movieId()]" class="btn btn-outline-light">
        <i class="bi bi-arrow-left"></i> Back to Movie Details
      </a>
    </div>

    <h2 class="mb-1 movie-title">Movie Trailer</h2>
    @if (movie()) {
      <h2 class="movie-title">{{ movie()?.title }}</h2>
      <p class="movie-date">Release Date: {{ movie()?.release_date | date: 'longDate' }}</p>
    }
    @if (videoItems().length > 0) {
      <div class="video-wrapper">
        <iframe
          [src]="videoItems()[0].safeUrl"
          title="Trailer"
          frameborder="0"
          allowfullscreen>
        </iframe>
      </div>
    } @else {
      <p>No trailer available for this movie.</p>
    }
  </div>
}