<footer>
  <div class="container">
    

    <div class="footer-top">
      <div class="footer-box">
        <h5 class="Follow">Follow AAMM on social</h5>
        <div class="social-icons">
          <a href="#"><i class="fab fa-tiktok"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="https://www.youtube.com/@CINE_PRIME"><i class="fab fa-youtube"></i></a>
          <a href="https://www.facebook.com/MoviesDreamly"><i class="fab fa-facebook-f"></i></a>
        </div>
      </div>

      <div class="footer-box imaaa">
        <div style="text-align: left;">
          <h5 style="margin: 0;">Get the AAMM app</h5>
          <p style="margin: 0;">For Android and iOS</p>
        </div>
        <div class="qr-code">
          <img src="https://upload.wikimedia.org/wikipedia/commons/8/8f/Qr-2.png" alt="QR Code" width="80" height="80">
        </div>
      </div>
    </div>

     <div class="footer-main">
        <div class="footer-links">
        <a href="#">Help</a>
        <a href="#">Site Index</a>
        <a href="#">AOKMPro</a>
        <a href="#">Box Office Mojo</a>
        <a href="#">License AOKM Data</a>
        </div>

        <div class="footer-links">

        <a href="#">Press Room</a>
        <a href="#">Advertising</a>
        <a href="#">Jobs</a>
        <a href="#">Conditions of Use</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Your Ads Privacy Choices</a>
        </div>
    </div>

    <div class="footer-bottom footer-main">
      <h1>an <strong>The Best team</strong> company</h1>
    </div>
    <div class="footer-bottom footer-main">
        <p>&copy; 2000-2025 by AOKM.com, Inc.</p>
    </div>

  </div>
</footer>
