footer {
  background-color: black;
  color: #fff;
  padding: 50px 20px 20px 20px;
  font-family: cairo, sans-serif;
  font-size: 14px;
}

.footer-top {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  gap: 20px;
}

.footer-box{
    border:2px solid rgb(31, 31, 31);
    border-radius: 15px;
    padding: 12px 65px;
}

.footer-box h5 {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

.footer-main{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; 
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 20px;
}

.footer-links a {

  color: #fff;
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-bottom {
  font-size: 13px;
  color: #888;
}
.footer-bottom h1 {
  font-size: 16px;
  color: #ffffff;
}

.social-icons {
  display: flex;
  gap: 25px;
}

.social-icons a {
  color: #fff;
  margin-right: 10px;
  font-size: 25px;
}

.social-icons a:hover {
  color: #f0ad4e;
}
.center-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.sign{
  margin-bottom: 20px; 
  width: 250px; 
  border-radius:5rem; 
  font-weight: bold;
}

.imaaa{
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  gap: 60px;
}
.imaaa img {
    width: 60px;
    height: 60px;
}
.imaaa h5{
    font-size: 1.25rem;
    line-height: 1.25rem;
    font-weight: 600;
}
.imaaa p {
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 400;
    color: rgb(184, 179, 179);
}



/* Tablet */
@media (max-width: 1024px) {
  .footer-top {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .footer-box {
    padding: 10px 40px;
    width: 80%;
    text-align: center;
    border:none;
  }

  .social-icons {
    gap: 15px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
  }

  .footer-box.imaaa {
    display: none !important;
  }

  .footer-links {
    justify-content: center;
    gap: 10px;
  }

  .footer-links a {
    font-size: 16px;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .footer-top {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .footer-box {
    text-align: center;
    border:none;
  }

  .footer-links {
    flex-direction: column;
    gap: 8px;
    margin-bottom: 15px;
  }

  .footer-links a {
    font-size: 14px;
  }

  .social-icons {
    gap: 15px;
    margin-left: 20px;
  }

  .social-icons a {
    font-size: 20px;
  }

  .footer-box.imaaa {
    display: none !important;
  }

  .footer-main {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .footer-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  
    gap: 5px;
    justify-content: center;
  }

  .footer-links a {
    min-width: 80px;
    margin-left: 2px;
    margin-right: 2px;
  }

}
