.card-body{
  padding: 7px;
  margin-bottom: -40px;
}

.movie-card {
  background-color: #2c2c2c;
  border: none;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  font-family: cairo, Roboto, 'Segoe UI', system-ui, -apple-system, 'Helvetica Neue', Arial;
  overflow: hidden;

  width: 190px;
  height: 300px;
}

/* .movie-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
} */

.rating-star{
  font-size: 0.8rem;
}

.card-title {
  font-size: 1rem;
  font-weight: 400;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  color: #fff;
}
.card-title :hover{
  text-decoration: underline;
}

.rating-container .rating {
  color: #dadada;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 400;
}

.Trailer{
  color: #ffffff;
  text-decoration: none;
  display: inline-flex;
  align-items: baseline;
  font-size: 1rem;
  font-weight: 600;
  gap: 0.3rem;
  margin-left: 10px;
}

.card-actions{
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-left: 6px;
  margin-right: 6px;
}

.info-icon {

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  cursor: pointer;
  gap: 1rem;
  margin-left: 20px;
}

.btn-sm {
  font-size: 0.75rem;
  padding: 2px 6px;
}


.watchlist-btn {
  background-color: rgba(255, 255, 255, 0.1);
  color: #5799ef;
  padding: 4px 37px;     /* الارتفاع والعرض الداخلي */
  border-radius: 50px;
  font-size: .875rem;
  font-weight: 500;
  min-width: 100px;
  text-align: center;
  border: none;
  transition: background-color 0.2s ease-in-out;
}
.watchlist-btn span {
  font-size: 1rem;
}