.card-body{
  width: 300px;
  padding: 0px 10px 18px 25px;
}

.movie-card {
  background-color: #2c2c2c;
  border: none;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  font-family: cairo, Roboto, 'Segoe UI', system-ui, -apple-system, 'Helvetica Neue', Arial;
  overflow: hidden;

  width: 360px; 
  max-width: 400px;
  height: auto; 
}

.rating-star{
  font-size: 0.8rem;
}

.card-title {
  font-size: 1rem;
  font-weight: 400;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  color: #fff;
}
.card-title :hover{
  text-decoration: underline;
}

.rating-container .rating {
  color: #dadada;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 400;
}

.Trailer{
  color: #ffffff;
  text-decoration: none;
  display: inline-flex;
  align-items: baseline;
  font-size: 1rem;
  font-weight: 600;
  gap: 0.3rem;
  margin-left: 10px;
}

.card-actions{
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-left: 6px;
  margin-right: 6px;
}

.info-icon {

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  cursor: pointer;
  gap: 1rem;
  margin-left: 20px;
}

.btn-sm {
  font-size: 0.75rem;
  padding: 2px 6px;
}


.watchlist-btn {
  background-color: rgba(255, 255, 255, 0.1);
  color: #5799ef;
  padding: 4px 37px;  
  border-radius: 50px;
  font-size: .875rem;
  font-weight: 500;
  min-width: 100px;
  text-align: center;
  border: none;
  transition: background-color 0.2s ease-in-out;
}
.watchlist-btn span {
  font-size: 1rem;
}

.media-card {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  border-radius: 8px;
  overflow: hidden;
  background-color: #212529;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}


.media-card:hover {
  transform: scale(1.03);
}

 .media-card .video-container {
  width: 400px;
  height: 100%;
}

.media-card img,
.media-card iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.skeleton-loader {
  width: 100%;
  aspect-ratio: 16 / 9;
  background: linear-gradient(90deg, #2a2a2a 25%, #3a3a3a 50%, #2a2a2a 75%);
  background-size: 200% 100%;
  border-radius: 8px;
  animation: skeleton-loading 1.2s ease-in-out infinite;
}

@keyframes skeleton-loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
